/* CSS Reset */
html, body, div, span, applet, object, iframe,  
h1, h2, h3, h4, h5, h6, p, blockquote, pre,  
a, abbr, acronym, address, big, cite, code,  
del, dfn, em, img, ins, kbd, q, s, samp,  
small, strike, strong, sub, sup, tt, var,  
b, u, i, center,  
dl, dt, dd, ol, ul, li,  
fieldset, form, label, legend,  
table, caption, tbody, tfoot, thead, tr, th, td,  
article, aside, canvas, details, embed,  
figure, figcaption, footer, header, hgroup,  
menu, nav, output, ruby, section, summary,  
time, mark, audio, video {  
margin: 0;  
padding: 0;  
border: 0;  
font-size: 100%;  
font: inherit;  
vertical-align: baseline;  
}

body {
    margin: 10px;
    background-color: lightgray;
    font-family: 'Oxygen Mono', monospace;
    
}
hr {
    width:90%;
    text-align: center;
    
}
#header-hr {
    width: 100%;
    
}

#header-container div nav a{
    text-decoration: none;
    color: black;
    padding: 5px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 10px;
    
}
/* Flex Styles */
#projects-container {
    display: flex;
    flex-flow: row wrap;
    background-color: lightgray;
    justify-content: center;
    align-items: center;
    
}

#header-container {
    display: flex;
    flex-flow: column wrap;
    
    padding: 20px;
    justify-content: center;
    align-content: center;
    
}

#main-container {
    display: flex;
    flex-flow: row wrap;
    
    justify-content: space-around;
    align-content: center;
    padding: 25px;
    
}

#projects-container > div {
    background-color: white;
    width: 20%;
    height: 250px;
    margin: 10px;
    text-align: center;
    
    
}

#header-container > #header-div {
    width: 30%;
    text-align: center;
}

#header-container h1 {
    font-size: 40px;
}


/* Main Section */
#main-container > img {
    border-radius: 10px;
    background-color: grey;
    width: 500px;
    
}

#main-container > #about-me-container {
    width: 500px;
    
    text-align: left;
    align-self: center;

}

#projects-container div img {
    width: 65%;
}

#main-container h2 {
    font-size: 35px;
}

#main-container a {
    font-size: 25px;
}

#main-container p {
    font-size: 16px;
}

#main-container img {
    width: 35vw;
    object-fit: cover;
}

.project-card {
    text-align: center;
    border-radius: 10px;
    padding: 5px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    
}

footer {
    text-align: center;
    margin: 10px;
    padding: 5px;
}

footer a {
    text-decoration: none;
    color: black;
    padding: 2px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 10px;
    margin: 5px;
}





/* Project 1 modal */
.modal1 {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    background-color: white;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    border-radius: 10px;
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: left;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

  .modal-content img {
      width: 500px;
      margin: 0 auto;
  }
  .modal-content p {
      margin: 0 auto;
      text-align: center;
      width: 80%;
  }

  .modal-content h2 {
    font-size: 35px;
    margin: 0 auto;
    text-align: center;
    text-decoration: underline;
}

  .modal-content h3 {
      margin: 0 auto;
      text-align: center;
      text-decoration: underline;
  }

  .modal-content nav a {
    margin: 0 auto;
    text-align: center;
}

.modal-content nav {
    margin: 0 auto;
    text-align: center;
}

/* Project 2 modal */
.modal2 {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal2-content {
    background-color: white;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    border-radius: 10px;
  }
  
  /* The Close Button */
  .close2 {
    color: #aaaaaa;
    float: left;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close2:hover,
  .close2:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

  .modal2-content img {
      width: 500px;
      margin: 0 auto;
  }
  .modal2-content p {
      margin: 0 auto;
      text-align: center;
      width: 80%;
  }

  .modal2-content h2 {
    font-size: 35px;
    margin: 0 auto;
    text-align: center;
    text-decoration: underline;
}

  .modal2-content h3 {
      margin: 0 auto;
      text-align: center;
      text-decoration: underline;
  }

  .modal2-content nav a {
    margin: 0 auto;
    text-align: center;
}

.modal2-content nav {
    margin: 0 auto;
    text-align: center;
}

/* project 3 */
.modal3 {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal3-content {
    background-color: white;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    border-radius: 10px;
  }
  
  /* The Close Button */
  .close3 {
    color: #aaaaaa;
    float: left;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close3:hover,
  .close3:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

  .modal3-content img {
      width: 500px;
      margin: 0 auto;
  }
  .modal3-content p {
      margin: 0 auto;
      text-align: center;
      width: 80%;
  }

  .modal3-content h2 {
    font-size: 35px;
    margin: 0 auto;
    text-align: center;
    text-decoration: underline;
}

  .modal3-content h3 {
      margin: 0 auto;
      text-align: center;
      text-decoration: underline;
  }

  .modal3-content nav a {
    margin: 0 auto;
    text-align: center;
}

.modal3-content nav {
    margin: 0 auto;
    text-align: center;
}

/* project 4 */
.modal4 {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal4-content {
    background-color: white;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    border-radius: 10px;
  }
  
  /* The Close Button */
  .close4 {
    color: #aaaaaa;
    float: left;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close4:hover,
  .close4:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

  .modal4-content img {
      width: 500px;
      margin: 0 auto;
  }
  .modal4-content p {
      margin: 0 auto;
      text-align: center;
      width: 80%;
  }

  .modal4-content h2 {
    font-size: 35px;
    margin: 0 auto;
    text-align: center;
    text-decoration: underline;
}

  .modal4-content h3 {
      margin: 0 auto;
      text-align: center;
      text-decoration: underline;
  }

  .modal4-content nav a {
    margin: 0 auto;
    text-align: center;
}

.modal4-content nav {
    margin: 0 auto;
    text-align: center;
}

/* project 5 */
.modal5 {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal5-content {
    background-color: white;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    border-radius: 10px;
  }
  
  /* The Close Button */
  .close5 {
    color: #aaaaaa;
    float: left;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close5:hover,
  .close5:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

  .modal5-content img {
      width: 500px;
      margin: 0 auto;
  }
  .modal5-content p {
      margin: 0 auto;
      text-align: center;
      width: 80%;
  }

  .modal5-content h2 {
    font-size: 35px;
    margin: 0 auto;
    text-align: center;
    text-decoration: underline;
}

  .modal5-content h3 {
      margin: 0 auto;
      text-align: center;
      text-decoration: underline;
  }

  .modal5-content nav a {
    margin: 0 auto;
    text-align: center;
}

.modal5-content nav {
    margin: 0 auto;
    text-align: center;
}

/* project 6 */
.modal6 {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal6-content {
    background-color: white;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    border-radius: 10px;
  }
  
  /* The Close Button */
  .close6 {
    color: #aaaaaa;
    float: left;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close6:hover,
  .close6:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

  .modal6-content img {
      width: 500px;
      margin: 0 auto;
  }
  .modal6-content p {
      margin: 0 auto;
      text-align: center;
      width: 80%;
  }

  .modal6-content h2 {
    font-size: 35px;
    margin: 0 auto;
    text-align: center;
    text-decoration: underline;
}

  .modal6-content h3 {
      margin: 0 auto;
      text-align: center;
      text-decoration: underline;
  }

  .modal6-content nav a {
    margin: 0 auto;
    text-align: center;
}

.modal6-content nav {
    margin: 0 auto;
    text-align: center;
}

/* project 7 */
.modal7 {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal7-content {
    background-color: white;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    border-radius: 10px;
  }
  
  /* The Close Button */
  .close7 {
    color: #aaaaaa;
    float: left;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close7:hover,
  .close7:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

  .modal7-content img {
      width: 500px;
      margin: 0 auto;
  }
  .modal7-content p {
      margin: 0 auto;
      text-align: center;
      width: 80%;
  }

  .modal7-content h2 {
    font-size: 35px;
    margin: 0 auto;
    text-align: center;
    text-decoration: underline;
}

  .modal7-content h3 {
      margin: 0 auto;
      text-align: center;
      text-decoration: underline;
  }

  .modal7-content nav a {
    margin: 0 auto;
    text-align: center;
}

.modal7-content nav {
    margin: 0 auto;
    text-align: center;
}
/* project 8 */
.modal8 {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal8-content {
    background-color: white;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    border-radius: 10px;
  }
  
  /* The Close Button */
  .close8 {
    color: #aaaaaa;
    float: left;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close8:hover,
  .close8:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

  .modal8-content img {
      width: 500px;
      margin: 0 auto;
  }
  .modal8-content p {
      margin: 0 auto;
      text-align: center;
      width: 80%;
  }

  .modal8-content h2 {
    font-size: 35px;
    margin: 0 auto;
    text-align: center;
    text-decoration: underline;
}

  .modal8-content h3 {
      margin: 0 auto;
      text-align: center;
      text-decoration: underline;
  }

  .modal8-content nav a {
    margin: 0 auto;
    text-align: center;
}

.modal8-content nav {
    margin: 0 auto;
    text-align: center;
}
/* Resume*/
.modalR {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    
  }
  
  /* Modal Content */
  .modalR-content {
    background-color: white;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    border-radius: 10px;
  }
  
  /* The Close Button */
  .closeR {
    color: #aaaaaa;
    float: left;
    font-size: 28px;
    font-weight: bold;
  }
  
  .closeR:hover,
  .closeR:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

  .modalR-content img {
      width: 500px;
      margin: 0 auto;
  }
  .modalR-content p {
      margin: 0 auto;
      text-align: center;
      width: 80%;
  }

  .modalR-content h2 {
    font-size: 35px;
    margin: 0 auto;
    text-align: center;
    text-decoration: underline;
}

  .modalR-content h3 {
      margin: 0 auto;
      text-align: center;
      text-decoration: underline;
  }

  .modalR-content nav a {
    margin: 0 auto;
    text-align: center;
}

.modalR-content nav {
    margin: 0 auto;
    text-align: center;
}

.modalR-content embed {
    min-height: 70vh;
    border-radius: 10px;
}

/* Contact modal*/
.modalC {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modalC-content {
    background-color: white;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    border-radius: 10px;
  }
  
  /* The Close Button */
  .closeC {
    color: #aaaaaa;
    float: left;
    font-size: 28px;
    font-weight: bold;
  }
  
  .closeC:hover,
  .closeC:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

  .modalC-content img {
      width: 500px;
      margin: 0 auto;
  }
  .modalC-content p {
      margin: 0 auto;
      text-align: center;
      width: 80%;
  }

  .modalC-content h2 {
    font-size: 35px;
    margin: 0 auto;
    text-align: center;
    text-decoration: underline;
}

  .modalC-content h3 {
      margin: 0 auto;
      text-align: center;
      text-decoration: underline;
  }

  .modalC-content nav a {
    margin: 0 auto;
    text-align: center;
}

.modalC-content nav {
    margin: 0 auto;
    text-align: center;
}