/* CSS Reset */
html, body, div, span, applet, object, iframe,  
h1, h2, h3, h4, h5, h6, p, blockquote, pre,  
a, abbr, acronym, address, big, cite, code,  
del, dfn, em, img, ins, kbd, q, s, samp,  
small, strike, strong, sub, sup, tt, var,  
b, u, i, center,  
dl, dt, dd, ol, ul, li,  
fieldset, form, label, legend,  
table, caption, tbody, tfoot, thead, tr, th, td,  
article, aside, canvas, details, embed,  
figure, figcaption, footer, header, hgroup,  
menu, nav, output, ruby, section, summary,  
time, mark, audio, video {  
margin: 0;  
padding: 0;  
border: 0;  
font-size: 100%;  
font: inherit;  
vertical-align: baseline;  
}

body {
    margin: 10px;
    background-color: lightgray;
    font-family: 'Oxygen Mono', monospace;
    
}
hr {
    width:90%;
    text-align: center;
    
}
#header-hr {
    width: 100%;
    
}

#header-container div nav a{
    text-decoration: none;
    color: black;
    padding: 5px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 10px;
    
}
/* Flex Styles */
#projects-container {
    display: flex;
    flex-flow: row wrap;
    background-color: lightgray;
    justify-content: center;
}

#header-container {
    display: flex;
    flex-flow: column wrap;
    
    padding: 20px;
    justify-content: center;
    align-content: center;
    
}

#main-container {
    display: flex;
    flex-flow: row wrap;
    
    justify-content: space-around;
    align-content: center;
    padding: 25px;
    
}

#projects-container > div {
    background-color: white;
    width: 20%;
    height: 250px;
    margin: 10px;
    text-align: center;
    
}

#header-container > #header-div {
    width: 30%;
    text-align: center;
}

#header-container h1 {
    font-size: 40px;
}


/* Main Section */
#main-container > img {
    border-radius: 10px;
    background-color: grey;
    width: 500px;
    
}

#main-container > #about-me-container {
    width: 500px;
    
    text-align: left;
    align-self: center;

}

#projects-container div img {
    width: 65%;
}

#main-container h2 {
    font-size: 35px;
}

#main-container a {
    font-size: 25px;
}

#main-container p {
    font-size: 16px;
}

.project-card {
    text-align: center;
    border-radius: 10px;
    padding: 5px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    
}

footer {
    text-align: center;
    margin: 10px;
    padding: 5px;
}

footer a {
    text-decoration: none;
    color: black;
    padding: 2px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 10px;
    margin: 5px;
}






/* The Modal (background) */
.modal1 {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    background-color: white;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

  .modal-content img {
      width: 500px;
      margin: 0 auto;
  }
  .modal-content p {
      margin: 0 auto;
      text-align: center;
      width: 80%;
  }

  .modal-content h2 {
    font-size: 35px;
    margin: 0 auto;
    text-align: center;
    text-decoration: underline;
}

  .modal-content h3 {
      margin: 0 auto;
      text-align: center;
      text-decoration: underline;
  }

  .modal-content nav a {
    margin: 0 auto;
    text-align: center;
}

.modal-content nav {
    margin: 0 auto;
    text-align: center;
}


.modalR {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }

 /* Modal Content */
 .modalR-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
  
 /* The Close Button */
 .closeR {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .closeR:hover,
  .closeR:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

  